/* Jill Rhoads */

.box {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: large;
    font-weight: bold;
}

#opt1 {
    background-color: blueviolet;
}

#opt2 {
    background-color: orange;
}

#opt3 {
    background-color: yellow;
}

#opt4 {
    background-color: blue;
}